body,
html {
  height: 100%;
  margin: 0;
  font-family: Verdana, sans-serif;
}

p {
  margin: 0;
}

h1 {
  font: 80px / 1.1em "opensans-bold", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.presentation {
  margin: 20px 60px;
  color: #a8a8a8;
  font-size: 18px;
  font: 18px / 1.9em "librebaskerville-regular", serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.presentation span,
.presentation a {
  color: white;
}

.bgimg {
  /* Background image */
  background-image: url("/images/background1.jpg");
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
}

footer {
  background-color: black;
  height: 100px;
  color: #1f1d1d;
  color: red;
  text-align: center;
}

.parallax {
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Links */
svg {
  height: 30px;
}
header svg {
  fill: white;
}
footer svg {
  fill: #1f1d1d;
}

svg:hover {
  fill: #f06000;
  -webkit-transition: fill 0.2s ease-in-out;
  -moz-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
  -ms-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #f06000;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
a:active {
  text-decoration: none;
}

.social li {
  display: inline-block;
  padding: 0px;
  margin: 20px;
}

.social {
  margin: 0;
  padding: 0px;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 60%;
  border: solid #f06000;
  border-width: 1px 0 0;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font-size: 12px;
  font-weight: 800;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);

  transition: top 0.5s ease-in-out;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
  background-color: transparent !important;
}
ul#nav li a:hover {
  color: #f06000;
}

#about {
  background-color: #1f1d1d;
  height: 100%;
}
